<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Preferences</title>
  <base href="./">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <div class="container">
    <div id="content" >
        <form action="">
            <button id="defaultValues">Reset</button>
            <button id="submit"  type="button">Save</button>
            <p><span>Background Color</span> <label for="background"></label> <span>
                <input type="text" name="background" class="inputGet"></span>
            </p>
             <p><span>Text Color</span> <label for="textcolor"></label> <span>
                <input type="text" name="textcolor"  class="inputGet"></span>
            </p>
             <p><span>Server</span> <label for="serverLink"></label> <span>
                <input type="text" name="serverLink"  class="inputGet"></span>
            </p>
            </form>


    </div>
    </div>
    <script>
   /*  querySelector('#submit').addEventListener('click', function() {

                    let address = document.getElementById("address").value;

                    // send username to main.js
                    ipcRenderer.send('asynchronous-message', address )
                    });
                    */
      </script>
</body>
</html>
