<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gmail">
    <meta name="keywords" content="gmail,mail,inbox,google">
    <title>Inbox-aslihangulseren00@gmail.com</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2e453130e2.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm fixed-top " style="background: white">
        <button class="m-3">
            <i class="fas fa-bars"></i>
        </button>
        <i class="far fa-envelope-open m-3"></i>
        <h1 class="m-3">Gmail</h1>
        <button class="pl-5 btn"><i class="fas fa-search"></i></button>
        <form class=" w-100">
            <label class="w-75">
                <input class=" form-control" type="search" placeholder="Search mail">
            </label>
        </form>
        <i class="fas fa-user-circle fa-4x" style="margin-left: auto; color:red"></i>
    </nav>
</header>
<main>
    <div class="row" style="margin-top: 100px">
        <div class="col-md-2 affix">
            <div class="btn-group-vertical w-100" style=" position:fixed">
                <button class="btn btn-light w-100 rounded text-left " type="button" onclick="goHome()">Inbox<i
                        class="fas fa-inbox mr-2" style="float:left"></i></button>
                <button class="w-100 rounded text-left btn btn-light " type="button" onclick="goNew()">Starred<i
                        class="fas fa-star mr-2" style="color:gray;float:left"></i>
                </button>
                <button class="w-100 rounded text-left btn btn-light " type="button" onclick="goNew()">Snoozed<i
                        class="fas fa-clock mr-2" style="color:gray;float:left"></i></button>
                <button class="w-100 rounded text-left btn btn-light " type="button" onclick="goNew()">Sent<i
                        class="fas fa-paper-plane mr-2" style="color:gray;float:left"></i></button>
                <button class="w-100 rounded text-left btn btn-light " type="button" onclick="goNew()">Drafts<i
                        class="fas fa-sticky-note mr-2" style="color:gray;float:left"></i></button>
                <button class="w-100 rounded text-left more btn btn-light " type="button">More</button>
                <button class="w-100 rounded text-left more appear btn btn-light " type="button"
                        style="display:none">Important
                </button>
                <button class="w-100 rounded text-left more appear btn btn-light menuGroup" type="button"
                        style="display:none">Chats
                </button>
            </div>
        </div>
        <div class=" col-sm-12 col-md-10 bg-light">
            <ul class="list-group ">
                <li class=" list-group-item unread bg-light ">
                    <div class="row ">
                        <div class="col-2 ">Udemy</div>
                        <div class="col-sm-12 col-md-10">Welcome to Udemy! You should do this.
                        </div>
                    </div>
                </li>
                <li class=" list-group-item unread bg-light">
                    <div class="row">
                        <div class="col-2 ">Icron</div>
                        <div class="col-sm-12 col-md-10">Welcome to Icron! You should do this.
                        </div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-md-2 ">Icron</div>
                        <div class=" col-sm-12 col-md-10">Welcome! You should do this for your internship. Have a nice
                            day.
                        </div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Google</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Twitter</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Apple</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">messenger</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Facebook</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Icron</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">messenger</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Google</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Icron</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Twitter</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Google</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
                <li class=" list-group-item bg-light">
                    <div class="row">
                        <div class="col-2 ">Icron</div>
                        <div class="col-sm-12 col-md-10">Welcome! You should do this.</div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</main>
<script>

    $(document).ready(function () {

        $(".more").click(function () {
            $(".appear").toggle("fast");
        });
    });
        function goNew()
        {
            location.href = "../gmail/others.html";
        }
    function goHome()
    {
        location.href = "../gmail/home.html";
    }

</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>
</html>
